/* Ali Shafazadeh - 40131860 - WEBHW */
*{
    margin: 0px;
}

html{
    height: 100%;
    background-image: linear-gradient(#1866db , #a0a9eb);
}

div{
    margin: 0px auto;
    margin-top: 10%;
    box-shadow: 1px 1px 50px black;
    height: 400px;
    width: 270px;
    border-radius: 7%;
    background-image: linear-gradient(rgba(171, 179, 192, 0.694), rgba(220, 234, 248, 0.674));
}

div:hover{
    background-image: linear-gradient(rgba(171, 179, 192, 0.796), rgba(220, 234, 248, 0.792));
}

#musicplayer{
    color: #ffffff;
    padding-top: 7px;
    text-shadow: 1px 1px 20px black;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

song and the song writers -> {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


song writers -> {
    color: #666666;
    font-size: smaller;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

song writers while mouseover{
    color: #2e2e2e;
}

.play,
.back,
.for{
    border-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}


.back
.for
.play while mouseover -> {
    border-color: #bebebe;
}

img{
    width: 190px;
    margin: 7px 0px 0px 40px;
    border-radius: 5%;
    transition: .3s;
}
img:hover{
    box-shadow: 1px 1px 7px black;
}